@font-face {
  font-family: inter;
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
  font-display: swap;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(3rem, 5vw);
  background-color: var(--off-white);
  font-family: inter, sans-serif, Arial;
  font-size: 0.9375rem;
  font-weight: 400;
  padding: min(5rem, 8vw) min(2rem, 4vw);
}
p {
  line-height: 1.6rem;
}
.shadow {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(70rem, 100%);

  nav {
    .close-menu {
      display: none;
    }
    ul {
      display: flex;
      list-style: none;

      li a {
        text-decoration: none;
        padding: min(0.5rem, 1vw) min(1.1rem, 2.2vw);
        color: var(--dark-grayish-blue);
      }
      li a:focus,
      li a:hover {
        color: var(--soft-red);
      }
    }
  }

  .menu {
    display: none;
  }
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "main-content main-content aside-news"
    "other-content other-content other-content";
  width: min(70rem, 100%);
  gap: min(4rem, 15vw) min(2rem, 4vw);

  .main-content-container {
    grid-area: main-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "image image" "heading content";
    gap: min(2rem, 6vw);
    img {
      grid-area: image;
      width: 100%;
      height: auto;
    }
    h1 {
      grid-area: heading;
      font-size: clamp(2.6rem, 5vw, 3.5rem);
      font-weight: 800;
      line-height: clamp(2.8rem, 6vw, 3.5rem);
      color: var(--very-dark-blue);
    }
    div {
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: min(1.5rem, 5vw);
      align-items: flex-start;
      p {
        color: var(--dark-grayish-blue);
      }
      a {
        text-decoration: none;
        text-align: center;
        font-weight: 800;
        letter-spacing: 0.2rem;
        color: var(--very-dark-blue);
        background-color: var(--soft-red);
        padding: min(1rem, 3vw) min(2rem, 6vw);
      }
      a:focus,
      a:hover {
        background-color: var(--very-dark-blue);
        color: var(--off-white);
      }
    }
  }
  .aside-news-container {
    grid-area: aside-news;
    padding: min(2rem, 8vw) min(1.4rem, 5vw);
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: min(2rem, 6vw);

    h2 {
      font-size: clamp(2rem, 4vw, 2.5rem);
      font-weight: 700;
      color: var(--soft-orange);
    }
    article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        text-decoration: none;
        font-size: clamp(1.3rem, 2.5vw, 1.25rem);
        font-weight: 700;
        color: var(--off-white);
        padding: min(0.5rem, 1vw) 0;
        cursor: pointer;
      }
      a:hover,
      a:focus {
        color: var(--soft-orange);
      }
      p {
        color: hsl(233, 8%, 69%);
      }
    }
    hr {
      border-color: var(--dark-grayish-blue);
    }
  }
  .other-content-container {
    grid-area: other-content;
    display: flex;
    gap: min(2rem, 6vw);
    justify-content: space-between;

    article {
      width: calc(100% / 3);
      display: flex;
      gap: min(1.4rem, 5vw);

      img {
        width: 30%;
        height: auto;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          font-size: clamp(2rem, 4vw, 2rem);
          font-weight: 700;
          color: var(--soft-red);
        }
        a {
          text-decoration: none;
          font-size: clamp(1.15rem, 3vw, 1.13rem);
          font-weight: 800;
          padding: min(0.2rem, 0.4vw) 0;
          color: var(--very-dark-blue);
        }
        a:hover,
        a:focus {
          color: var(--soft-red);
        }
        p {
          color: var(--dark-grayish-blue);
        }
      }
    }
  }
}

@media (max-width: 68.125rem) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "main-content main-content"
      "other-content aside-news";

    .other-content-container {
      flex-direction: column;
      article {
        width: 100%;
      }
    }
  }
}

@media (max-width: 37.5rem) {
  .shadow {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 8, 31, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  header {
    position: relative;
    .menu {
      padding: 1rem 0;
      padding-left: 1rem;
      display: block;
      background-color: var(--off-white);
      border: none;
      img {
        width: auto;
        height: auto;
      }
    }
    nav {
      position: fixed;
      top: 0;
      left: 100%;
      width: 70%;
      height: 100dvh;
      background-color: var(--off-white);
      padding: 1.5rem 0.5rem;
      transition: left 0.3s ease;

      .close-menu {
        display: block;
        margin-left: auto;
        margin-bottom: 4rem;
        padding: 1rem;
        border: none;
        background-color: var(--off-white);
      }

      ul {
        flex-direction: column;
        gap: 2rem;

        li a {
          color: var(--very-dark-blue);
          font-size: 1rem;
          padding: 1rem;
        }
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    .main-content-container {
      display: flex;
      flex-direction: column;
      img {
        content: url(/assets/images/image-web-3-mobile.jpg);
      }
    }
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
